<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
<div th:include="Navbar.html"></div>



<div class="container">
    <div>
        <div><p>Image placeholder</p></div>
        <h2>UserName Place Holder</h2>
    </div>
</div>
<div class="container" id="recent-activity">
    <div><h4>Recent Activity Placeholder</h4></div>
</div>
<div class="container" id="blog-post">
    <dialog id="postCreation">
        <h5>Create a new post</h5>
        <form  th:method="post" th:action="@{/posts/create}" th:object="${post}">
            <div class="mb-3">
                <label for="BlogTitle" class="form-label">Title</label>
                <input type="text" class="form-control" id="BlogTitle" name="title" placeholder="Title" th:field="*{title}">
            </div>

            <div class="mb-3">
                <label for="BlogTextArea" class="form-label">Post Body</label>
                <textarea class="form-control" id="BlogTextArea" name="content" rows="3" th:field="*{body}"></textarea>
                <input type="hidden" th:field="*{id}">
            </div>
            <button type="submit" class="btn btn-primary">Submit!</button>
        </form>
    </dialog>
    <button onclick="postCreation.showModal()" type="button" class="btn btn-info">Create New Post</button>
</div>








<!--File Stack-->
<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>

<!--Bootstrap-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>