.custom-file-upload {
    padding: 6px 12px;
    cursor: pointer;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 4px;
    display: inline-block;
}
body{
    background: linear-gradient(90deg, #404066, #2b2c41);
    font-family: 'Permanent Marker', cursive;

}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.screen {
    background: linear-gradient(90deg, #404066, #88cafc);
    position: relative;
    height: 600px;
    width: 360px;
    box-shadow: 0px 0px 24px #d2ebff;
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.screen-content{
    z-index: 1;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.login{

    width: 320px;
    padding: 30px;

    /*margin-top: 80px;*/
}
.screen__background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
}

.screen__background__shape {
    transform: rotate(135deg);
    position: absolute;
}

.screen__background__shape1 {
    height: 220px;
    width: 300px;
    background: #ca57a5;
    top: -50px;
    right: 120px;
    border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
    height: 220px;
    width: 220px;
    background: #ff4491;
    top: -172px;
    right: 0;
    border-radius: 32px;
}

.screen__background__shape3 {
    height: 540px;
    width: 190px;
    background: linear-gradient(270deg, #2e5fbe, #2b2c41);
    top: -24px;
    right: 0;
    border-radius: 32px;
}

.screen__background__shape4 {
    height: 400px;
    width: 200px;
    background: #6f7dbc;
    top: 420px;
    right: 50px;
    border-radius: 60px;
}
form {
    margin-top: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
img{
    max-height: 10vh;
}
input{
    border-radius: 25px;
    margin: .5em;
}

#pwResetbox{
    display: flex;
    align-items: center;
    justify-content: center;
}