
.post{
    display: inline-block;
    height: 200px;
    width: 190px;
    margin: 20px;
    border:5px solid rgba(48, 47, 47);
    border-radius: 10px;
}

.event{
    display: inline-block;
    height: 200px;
    width: 190px;
    margin: 20px;
    border:5px solid rgba(48, 47, 47);
    border-radius: 10px;
}
.band{
    display: inline-block;
    height: 200px;
    width: 190px;
    margin: 20px;
    border:5px solid rgba(48, 47, 47);
    border-radius: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.nav-item {
    margin-top:15px;
}

#see-more-container {
    margin-top: 20px;
    display: none;
}

#see-more-button {
    padding: 10px 20px;
    font-size: 16px;
}

#events-container {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f5f5f5;
}

.event-card {
    width: 50%; /* Set the width to 50% to accommodate two cards side by side */
    margin-bottom: 50px;
    padding: 50px;
    background-color: #f5f5f5;
}


.event-card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.event-card-text {
    margin-bottom: 10px;
}

.event-image {
    width: 30%;
    height: auto;
}

.row-events {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

@media (max-width: 768px) {
    .event-card {
        width: 100%; /* Change the width to 100% for smaller screens to stack the cards vertically */
    }
}

