:root {
    --shadow-color: #FF9E9E;
    --shadow-color-light: white;
    --logo-color: rgba(245, 128, 253, 1);
}

body {
    /*background: linear-gradient(90deg, #404066, #2b2c41);*/
    background-color: #26202a !important;
    font-family: 'Permanent Marker', cursive;
}

header {
    background: url('../img/BaltimoreVenue.jpg');
    text-align: center;
    width: 100%;
    height: 45vh;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    border-radius: 0 0 85% 85% / 30%;
    background-position: center top;

}

/*.username {*/
/*    margin: calc(20vh - 40px) auto 0 auto;*/
/*    font-size: 65px;*/
/*    text-transform: uppercase;*/
/*    font-family: "Archivo Black", "Archivo", sans-serif;*/
/*    font-weight: normal;*/
/*    display: block;*/
/*    height: auto;*/
/*    text-align: center;*/
/*    color: skyblue;*/
/*    animation: neon 3s infinite;*/
/*}*/
header h2{
    color: skyblue;
    animation: neon 3s infinite;
    margin-top: 2em;
    font-size: 65px;
    text-transform: uppercase;
    font-family: "Archivo Black", "Archivo", sans-serif;
    font-weight: normal;
}



.logo-1 {
    color: white;
    animation: neon 3s infinite;
}

@keyframes neon {
    0% {
        text-shadow: -1px -1px 1px var(--logo-color), -1px 1px 1px var(--logo-color), 1px -1px 1px var(--logo-color), 1px 1px 1px var(--logo-color),
        0 0 3px var(--logo-color), 0 0 10px var(--logo-color), 0 0 20px var(--logo-color),
        0 0 30px var(--logo-color), 0 0 40px var(--logo-color), 0 0 50px var(--logo-color), 0 0 70px var(--logo-color), 0 0 100px var(--logo-color), 0 0 200px var(--logo-color);
    }
    50% {
        text-shadow: -1px -1px 1px var(--logo-color), -1px 1px 1px var(--logo-color), 1px -1px 1px var(--logo-color), 1px 1px 1px var(--logo-color),
        0 0 5px var(--logo-color), 0 0 15px var(--logo-color), 0 0 25px var(--logo-color),
        0 0 40px var(--logo-color), 0 0 50px var(--logo-color), 0 0 60px var(--logo-color), 0 0 80px var(--logo-color), 0 0 110px var(--logo-color), 0 0 210px var(--logo-color);
    }
    100% {
        text-shadow: -1px -1px 1px var(--logo-color), -1px 1px 1px var(--logo-color), 1px -1px 1px var(--logo-color), 1px 1px 1px var(--logo-color),
        0 0 3px var(--logo-color), 0 0 10px var(--logo-color), 0 0 20px var(--logo-color),
        0 0 30px var(--logo-color), 0 0 40px var(--logo-color), 0 0 50px var(--logo-color), 0 0 70px var(--logo-color), 0 0 100px var(--logo-color), 0 0 200px var(--logo-color);
    }
}

h4{
    color: skyblue;

    font-size: 30px;
    text-transform: uppercase;

    font-weight: normal;
}


/*.back-row{*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    flex-wrap: wrap;*/
/*    margin-bottom: 20px;*/
/*}*/

#userInfoArea {
    background-color: dimgray;
    display: flex;
    height: 40vh;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: absolute;
    z-index: 1;
    border-radius: 25px;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(-50%);
}


.profile-settings {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.profile-settings img {
    margin-right: 50px; /* Adjust the value as needed */
}

.profile-settings .button-edit {
    margin-left: 50px; /* Adjust the value as needed */
}

#currentPic, #profilePic{

    color: white;
    border: none;
    outline: none;
    height: 15vh;
    width: 15vh;
    border-radius: 50%;
    object-fit: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 2em 5px 5px;
    /*position: absolute;*/
    /*z-index: 2;*/
    /*top: -75px;*/
}

/*#currentPic,*/
/*#profilePic {*/
/*    background-color: darkgrey;*/
/*    color: white;*/
/*    padding: 5px;*/
/*    border: none;*/
/*    outline: none;*/
/*    height: 30vh;*/
/*    width: auto;*/
/*}*/

.button-edit{
    margin-top: 3em;
}

#bandsArea {
    display: flex;
    align-items: center;
}
#bandsArea h4{
    padding-right: 1em;
}

.band-name span {
    font-size: 40px; /* Adjust the value as needed */
}

.band-link {
    text-decoration: none;
}


#bandsArea {
    margin-right: 10px;
    padding: 5px;
    margin-top: 5vh;
}

#postsButtons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5vh;
    width: 90%;
}

#postCreationDialog,#bandCreationDialog {
    color: #fff;
    padding: 1rem 3rem;
    background: #606060;
    background-image: url("https://cdn.fuelrocks.com/can_you_use_a_vocal_mic_on_a_guitar_amp.jpg");
    background-size: cover;
    padding-top: 2rem;
    border-radius: 20px;
    border: 0;
    box-shadow: 0 5px 30px 0 rgb(0 0 0 / 10%);
    animation: fadeIn 1s ease both;
}

dialog::backdrop {
    animation: fadeIn 1.5s ease both;
    background: rgb(0 0 0 / 40%);
    z-index: 2;
    backdrop-filter: blur(20px);
}

dialog .x {
    filter: grayscale(1);
    border: none;
    background: none;
    position: absolute;
    top: 15px;
    right: 10px;
    transition: ease filter, transform 0.3s;
    cursor: pointer;
    transform-origin: center;
}

dialog:hover .x {
    filter: grayscale(0);
    transform: scale(1.1);
}


label {
    font-size: 1rem;
    line-height: 1.3rem;
    padding: 0.5rem 0;
}
#preloader{
    background: #26202a url("../img/preloader.gif") no-repeat center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;

}
#bandCreationDialog{
    background-image: url("../img/platypus.png");
    background-size: cover;
    background-position: center;
    color: black;

}

#posts-container{
    margin-top: 2em;
    margin-bottom: 5em;
}

.card-layout{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.card

