<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/head :: head ('Post - Index')">
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="../static/css/map.css">
    <link rel="stylesheet" href="../static/css/home.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body>
<div th:replace="partials/navbar :: navbar"></div>
<div th:if="${message}" th:class="${alertClass}" th:text="${message}"></div>
    <h1 th:inline="text">this is home page</h1>

    <div>
        <div class="main-background">
            <img src="../static/img/localscen.png" alt="">
        </div>
    <h3>The Local Scene</h3>
    <button type="button">Posts</button>
    <button type="button">Events</button>
    <div id="map"></div>
    <p id="inputContainer">City or Zip: <input type="text" id="cityInput"></p>
    <button id="cityLocation" type="button">Find</button>
    </div>
    <div id="PostsContainer">
        <div class="post">
            <p class="post-title">Post 1</p>
            <p class="post-description">Loading....</p>
            <div class="post-image">
                <img src="../static/img/fff.png" alt="">
            </div>
        </div>
        <div class="post">
            <p class="post-title">Post 2</p>
            <p class="post-description">Loading....</p>
            <div class="post-image">
                <img src="img/Localscene.png" alt="">
            </div>
        </div>
        <div class="post">
            <p class="post-title">Post 3</p>
            <p class="post-description">Loading....</p>
            <div class="post-image">
                <img src="img/01d.png" alt="">
            </div>
        </div>
    </div>

    <div id="EventsContainer">
        <div class="event">
            <p class="Event-title">Event 1</p>
            <p class="Event-description">Loading....</p>
            <div class="Event-image">
                <img src="img/Localscene.jpg" alt="">
            </div>
            <button type="button">Button</button>
        </div>
        <div class="event">
            <p class="Event-title">Event 2</p>
            <p class="Event-description">Loading....</p>
            <div class="Event-image">
                <img src="img/Localscene.jpg" alt="">
            </div>
            <button type="button">Button</button>
        </div>
        <div class="event">
            <p class="Event-title">Event 3</p>
            <p class="Event-description">Loading....</p>
            <div class="Event-image">
                <img src="img/Localscene.jpg" alt="">
            </div>
            <button type="button">Button</button>
        </div>
    </div>
    <th:block th:replace="partials/navbar-scripts :: navbar-scripts"></th:block>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="../static/js/keys.js"></script>
    <script src="../static/js/mapbox-geocode-utils.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>

</body>

</html>