<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Local Scene</title>
    <link rel="stylesheet" href="partials/style.css">
</head>
<body>
<h3>The Local Scene</h3>
<button type="button">Posts</button>
<button type="button">Events</button>
<p>ZIP Code: <input type="text"></p>
<h4>--TEXAS--</h4>

<div id="map"></div>

<div id="PostsContainer">
    <div class="post">
        <p class="post-title">Post 1</p>
        <p class="post-description">Loading....</p>
        <div class="post-image">
            <img src="../img/Localscene.png" alt="">
        </div>
    </div>
    <div class="post">
        <p class="post-title">Post 2</p>
        <p class="post-description">Loading....</p>
        <div class="post-image">
            <img src="img/Localscene.png" alt="">
        </div>
    </div>
    <div class="post">
        <p class="post-title">Post 3</p>
        <p class="post-description">Loading....</p>
        <div class="post-image">
            <img src="img/01d.png" alt="">
        </div>
    </div>
</div>

<div id="EventsContainer">
    <div class="event">
        <p class="Event-title">Event 1</p>
        <p class="Event-description">Loading....</p>
        <div class="Event-image">
            <img src="img/Localscene.jpg" alt="">
        </div>
        <button type="button">Button</button>
    </div>
    <div class="event">
        <p class="Event-title">Event 2</p>
        <p class="Event-description">Loading....</p>
        <div class="Event-image">
            <img src="img/Localscene.jpg" alt="">
        </div>
        <button type="button">Button</button>
    </div>
    <div class="event">
        <p class="Event-title">Event 3</p>
        <p class="Event-description">Loading....</p>
        <div class="Event-image">
            <img src="img/Localscene.jpg" alt="">
        </div>
        <button type="button">Button</button>
    </div>
</div>


</body>
</html>
