<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/sign-up}" th:object="${user}" method="post">
  <label for="username">Username</label>
  <input id="username" th:field="*{username}" />

  <label for="email">Email</label>
  <input id="email" th:field="*{email}" />

  <label for="password">Password</label>
  <input id="password" type="password" th:field="*{password}" />

  <label for="confirmPassword">Confirm Password</label>
  <input id="confirmPassword" type="password" th:field="*{confirmPassword}" />


  <label for="instrument">Instrument</label>
  <input id="instrument" th:field="*{instrument}" />

  <label for="bandMember">Are you a band member?</label>
  <input id="bandMember" type="checkbox" th:field="*{band_member}" />

  <input value="Sign me up!" type="submit" />
</form>
</body>
</html>
