<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Venues</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" th:href="@{/css/navbar.css}">
  <link rel="stylesheet" th:href="@{/css/venues.css}">
</head>
<body>
<nav th:insert="partials/navbar :: navbar"></nav>



<div class="container">
  <h1>Venue Search</h1>
  <div class="row">
    <div class="col-md-3">
      <form id="search-form">
        <div class="input-group mb-3">
          <label for="search-input"></label><input type="text" id="search-input" class="form-control" placeholder="Enter your location">
          <div class="input-group-append">
            <button class="btn btn-primary" type="submit">Search</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div id="venues-container" class="row">
    <div class="venue-card"></div>
  </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<script th:src="@{/js/keyTM.js}"></script>




</body>
</html>




